{% extends 'service/farmer_panel/base.html' %}
{% block title %} Dashboard|change Password {% endblock %}
{% load staticfiles %}
{% block contain %}
<div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6">
           <div class="d"  style="background:#fff;padding:20px 10px 20px 10px;border-radius: 5px;box-shadow:0px 0px 3px gray;margin-top:50px;"> 
                <form method="POST"> {% csrf_token %}
                    <table class="table table-bordered">
                        <tr>
                            {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                        <p style="color:green" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </tr>
                        <tr>
                            <th colspan="2"><h3 style="text-align:center;margin:3px">Password Change Form</h3></th>
                        </tr>
                        <tr>
                            <td>Current Password</td>
                            <td> <input type="password" class="form-control" name="current_pass" required/> </td>
                        </tr>
                        <tr>
                            <td>New Password</td>
                            <td> <input type="password" id="current_pass1" class="form-control" name="new_pass" /> </td>
                        </tr>
                        <tr>
                            <td>Confirm Password</td>
                            <td> <input type="password" id="current_pass2" class="form-control" name="new_pass2" /> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Change Password" id="btnChangePass" class="btn btn-success" />
                            </td>
                        </tr>
                    </table>  
                </form>  
           </div>
        </div>
    </div>
    <script src="{% static 'service/js/jquery.min.js' %}"></script>
    <script type="text/javascript">
        $("#current_pass2").change(function(){
                if($("#current_pass1").val() != $("#current_pass2").val())
                {
                    alert("Password confirmation and Password must match.");
                    $("#current_pass2").val('');
                    $("#current_pass2").focus();
                }
        });
    </script>    

{% endblock %}